@font-face {
  font-family: "mt-icon";
  src: url('iconfont.eot'); /* IE9 */
  src: url('iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff2') format('woff2'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg#mt-icon') format('svg'); /* iOS 4.1- */
}

.mt-icon {
  font-family: "mt-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /* speak: none; */

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-circle-outline:before {
  content: "\e645";
}

.icon-favorite-outline:before {
  content: "\e618";
}

.icon-search:before {
  content: "\e600";
}

.icon-remove-circle-outline:before {
  content: "\e660";
}

.icon-close-circle-outline:before {
  content: "\e621";
}

.icon-remove-circle:before {
  content: "\e7ae";
}

.icon-check-circle:before {
  content: "\e6c0";
}

.icon-thumb-up:before {
  content: "\e652";
}

.icon-thumb-down:before {
  content: "\e654";
}

.icon-thumb-up-outline:before {
  content: "\e657";
}

.icon-thumb-down-outline:before {
  content: "\e65a";
}

.icon-add-circle:before {
  content: "\e721";
}

.icon-star-half:before {
  content: "\e601";
}

.icon-star:before {
  content: "\e602";
}

.icon-star-outline:before {
  content: "\e68f";
}

.icon-shopping-cart:before {
  content: "\e61e";
}

.icon-check-circle-outline:before {
  content: "\e6a9";
}

.icon-favorite:before {
  content: "\e603";
}

.icon-close-circle:before {
  content: "\e62c";
}

.icon-arrow-right:before {
  content: "\e623";
}

.icon-arrow-left:before {
  content: "\e624";
}
