@font-face {
  font-family: 'mt-app-icon';
  src:  url('./mt-app.eot?hbafk8');
  src:  url('./mt-app.eot?hbafk8#iefix') format('embedded-opentype'),
    url('./mt-app.ttf?hbafk8') format('truetype'),
    url('./mt-app.woff?hbafk8') format('woff'),
    url('./mt-app.svg?hbafk8#mt-app') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* [class^="icon-"], [class*=" icon-"] */
.icon {
  font-family: 'mt-app-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /* speak: none; */

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumb-up:before {
  content: "\e900";
}
.icon-thumb-down:before {
  content: "\e901";
}
.icon-shopping-cart:before {
  content: "\e902";
}
.icon-remove-circle-outline:before {
  content: "\e903";
}
.icon-keyboard-arrow-right:before {
  content: "\e904";
}
.icon-favorite:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-check-circle:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-add-circle:before {
  content: "\e909";
}
