@font-face {
  font-family: "iconfont";
  src: url('./mtapp.eot?t=1565355128786'); /* IE9 */
  src: url('./mtapp.eot?t=1565355128786#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./mtapp.woff2?t=1565355128786') format('woff2'),
  url('./mtapp.woff?t=1565355128786') format('woff'),
  url('./mtapp.ttf?t=1565355128786') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./mtapp.svg?t=1565355128786#mtapp') format('svg'); /* iOS 4.1- */
}

.mt-icon {
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e61c";
}

.icon-star-half:before {
  content: "\e57e";
}

.icon-star-full:before {
  content: "\e57f";
}

.icon-star:before {
  content: "\e68f";
}

